@using SMITCOMIDAS.Shared.Layout

<Router AppAssembly="typeof(Routes).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="routeData" DefaultLayout="typeof(AppLayout)" />
    </Found>
    <NotFound>
        <p>Página no encontrada</p>
    </NotFound>
</Router>