<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="_content/SMITCOMIDAS.Shared/bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="_content/SMITCOMIDAS.Shared/app.css" />
    <link rel="stylesheet" href="SMITCOMIDAS.Web.styles.css" />
    <link rel="icon" type="image/png" href="_content/SMITCOMIDAS.Shared/favicon.png" />
    <link rel="stylesheet" href="_content/SMITCOMIDAS.Shared/Login.css" />

    <!-- SNACKBAR-->
    <link rel="stylesheet" href="_content/SMITCOMIDAS.Shared/assets/css/snackbar/snackbar.css" />
    
    <!-- HOME -->
    <link rel="stylesheet" href="_content/SMITCOMIDAS.Shared/assets/css/web/HomeWeb.css" />

    <!-- APP LAYOUT WEB -->
    <link rel="stylesheet" href="_content/SMITCOMIDAS.Shared/assets/css/shared/layouts/AppLayout.css" />
    <link rel="stylesheet" href="_content/SMITCOMIDAS.Shared/assets/css/web/layouts/AppLayoutWeb.css" />
    <link rel="stylesheet" href="_content/SMITCOMIDAS.Shared/assets/css/web/Unauthorized.css" />


    <!-- MENU STYLES -->
    <link rel="stylesheet" href="_content/SMITCOMIDAS.Shared/assets/css/web/menus/MenuWeb.css" />
    <link rel="stylesheet" href="_content/SMITCOMIDAS.Shared/assets/css/shared/menus/menuCrear.css" />
    <link rel="stylesheet" href="_content/SMITCOMIDAS.Shared/assets/css/web/menus/MenuDetailWeb.css" />
    <link rel="stylesheet" href="_content/SMITCOMIDAS.Shared/assets/css/shared/menus/MenuDetail.css" />

    <!-- PEDIDO STYLES -->
    <link rel="stylesheet" href="_content/SMITCOMIDAS.Shared/assets/css/web/pedidos/pedidoCrear.css" />
    <link rel="stylesheet" href="_content/SMITCOMIDAS.Shared/assets/css/web/pedidos/PedidoWeb.css" />
    <link rel="stylesheet" href="_content/SMITCOMIDAS.Shared/assets/css/web/pedidos/PedidoDetailWeb.css" />
    <link rel="stylesheet" href="_content/SMITCOMIDAS.Shared/assets/css/shared/pedidos/pedido.css" />

    <!-- PROVEEDORES STYLES -->
    <link rel="stylesheet" href="_content/SMITCOMIDAS.Shared/assets/css/web/proveedores/ProveedorCrear.css" />
    <link rel="stylesheet" href="_content/SMITCOMIDAS.Shared/assets/css/web/proveedores/Proveedores.css" />
    <link rel="stylesheet" href="_content/SMITCOMIDAS.Shared/assets/css/shared/proveedores/Proveedores.css" />

    <!-- PERFIL STYLES -->
    <link rel="stylesheet" href="_content/SMITCOMIDAS.Shared/assets/css/shared/perfil/Perfil.css" />
    <link rel="stylesheet" href="_content/SMITCOMIDAS.Shared/assets/css/web/perfil/PerfilWeb.css" />
    <link rel="stylesheet" href="_content/SMITCOMIDAS.Shared/assets/css/web/perfil/PerfilCrearWeb.css" />

    <!-- CENTRO COSTO STYLES -->
    <link rel="stylesheet" href="_content/SMITCOMIDAS.Shared/assets/css/web/centroscosto/CentroCostoWeb.css" />

    <HeadOutlet @rendermode="InteractiveServer" />
</head>

<body>
    <Routes @rendermode="InteractiveServer" />
    <script src="_framework/blazor.web.js"></script>
</body>

</html>
